body {
    margin: 10%;
    padding: 0;
    box-sizing: border-box;
    background:#000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.login-wrapper {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    position: fixed;
    top: 0px;
    width: 80%;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    margin:auto;
}

.link {
    min-width: 50px;
    height: 20px;
    margin: 0 0 0 10px;
    background: #000;
    padding: 15px 20px 30px 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
    border: transparent;
    color: white;
    border-radius: 3px;
    font-weight: 400;
}


.login {
    max-width: 190px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(0deg, black, rgb(44,44,44));
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login::before, .login::after {
    content: '';
    top: -2;
    left: -2;
    position: absolute;
    background: linear-gradient(#0f89a4, #10cd51);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: -1;
}

.login::after {
    filter: blur(20px);
}

.input {
    padding-top: 20px;
}

.login-field {
    border: none;
    background: transparent;
    color: white;
    border-radius: 4px;
    padding: 10px;
    outline: none;
    box-shadow: 0 0 3pt 1pt #0f89a4;
    min-width: 100px;
}

.login-field:focus {
    box-shadow: 0 0 3pt 1pt #0f89a4;
}

.button {
    background: transparent;
    /* padding: 15px 20px 30px 20px; */
    text-align: center;
    position: relative;
    cursor: pointer;
    border: transparent;
    color: white;
    border-radius: 3px;
    width: 100%;
    max-width: 165px;
    height: 36px;
    transition: opacity .3s ease;
    z-index: 2;
}

.button::before{
    content: '';
    background: linear-gradient(45deg, #0f89a4, #10cd51);
    position: absolute;
    top: -2px;
    left: -2px;
    -webkit-background-size: 400%;
    background-size: 400%;
    filter: blur(3px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: animate 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease;
    border-radius: 3px;
    z-index: -1;
}

.button:hover::before {
    opacity: 1;
}

.button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(11,11,11), rgb(16,16,16));
    left: 0;
    top: 0;
    border-radius: 3px;
    z-index: -1;
}

.link::before{
    content: '';
    background: linear-gradient(45deg, #0f89a4, #10cd51);
    position: absolute;
    top: -2px;
    left: -2px;
    -webkit-background-size: 400%;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: animate 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease;
    border-radius: 3px;
}

.link:hover::before {
    opacity: 1;
}

.link::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 3px;
}

.button::before {
    opacity: 0;
}

.text {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    font-size: small;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}